{% extends '::base.html.twig' %}

{% form_theme form "KermesseBundle:Form:bootstrap_form.html.twig" %}

{% block body -%}

	{{ form_start(form) }}
		{{ form_errors(form) }}

		<div class="app-priceTotal">
			{{ form_label(form.priceTotal) }}
			{{ form_widget(form.priceTotal) }}
			{{ form_widget(form.submit) }}
		</div>

		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Product</th>
						<th>Count</th>
						<th>P. Unit</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					{% for salesLine in form.salesLines %}
					<tr class="app-sale-line">
						<td class="app-product">{{ form_widget(salesLine.products) }}</td>
						<td class="app-count">
							{{ form_widget(salesLine.count) }}
							<i class="fa fa-minus-square" onclick="Sale.minus(this)"></i>
							<i class="fa fa-plus-square" onclick="Sale.plus(this)"></i>
						</td>
						<td class="app-punit">{{ form_widget(salesLine.priceUnit) }}</td>
						<td class="app-ptotal">{{ form_widget(salesLine.priceTotal) }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div>
			{{ form_label(form.event) }}
			{{ form_widget(form.event) }}
		</div>

	{{ form_end(form) }}

	<ul class="record_actions">
		<li>
			<a href="{{ path('sales') }}">
				Back to the list
			</a>
		</li>
	</ul>
{% endblock %}
